{
	"env": {
		"es6": true,
		"node": true
	},
    "parserOptions": {
        "ecmaVersion": 8
    },
    "plugins": [
        "eslint-snake-case"
    ],
    "rules": {
        "camelcase": 0,
        "max-len": 0,
        "new-cap": 0
    },
	"extends": "eslint-config-google"
}
